<ng-template [ngIf]="!this.input_word" [ngIfElse]="wordDetail">
    <div class="word-detail">
        <h3>Please select a word.</h3>
    </div>
</ng-template>
<ng-template #wordDetail>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <p class="word-detail-display" [style.color]="input_word.typeColor">{{input_word.content}} &nbsp; <span
                        class="word-detail-type-display">{{input_word.typeAbb}}</span></p>
            </div>
            <div class="col-sm-1">
                <i class="fa fa-print" aria-hidden="true" (click)="print(word);"></i>
            </div>
            <div class="col-sm-1">
                <i class="fa fa-edit" aria-hidden="true" (click)="modify = true;"></i>
            </div>
            <div class="col-sm-1">
                <i class="fa fa-trash" aria-hidden="true" (click)="confirmDelete()"></i>
            </div>
            <hr />
        </div>

        <div *ngIf="input_word.note != null && !modify" class="alert alert-primary" role="alert">{{input_word.note}}</div>
        <table>
            <tr *ngFor="let tr of input_word.translate">
                <td><img src="{{tr.flagURL}}" class="mini-flag" /></td>
                <td>{{tr.content}}</td>
            </tr>
        </table>
        <hr/>

        <div *ngIf="!modify">
            <div *ngFor="let ex of input_word.examples">
                <p *ngIf="ex != undefined">&#11044; {{ex}}</p>
            </div>
            <hr />
        </div> 

        <div *ngIf="!modify">Related word:</div>

        <div *ngIf="modify">
            <form [formGroup]="modifyForm">
                <label>Modify your note for <b [style.color]="input_word.typeColor"> {{input_word.content}}</b></label>
                <textarea class="form-control" value="{{input_word.note}}" formControlName="note"></textarea>
                <label>Modify word type:</label>
                <select class="form-control" formControlName="type" required>
                    <option *ngFor='let type of listWordType' value='{{type.id}}' [selected]="input_word.type == type.id">
                        {{type.name}}
                    </option>
                </select>

                <label>Give some examples:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Ex. 1</span>
                    </div>
                    <input type="text" class="form-control" formControlName="example1" placeholder="Example..." value="input_word.examples[0]">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Ex. 2</span>
                    </div>
                    <input type="text" class="form-control" formControlName="example2" placeholder="Example..." value="input_word.examples[1]">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Ex. 3</span>
                    </div>
                    <input type="text" class="form-control" formControlName="example3" placeholder="Example..." value="input_word.examples[2]">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                </div>
            </form>
            <hr />
        </div>

        <div *ngIf="modify" class="row">
            <div class="col-xs-6">
                <button class="form-control btn-save" (click)="submitForm()">Save</button>
            </div>
            <div class="col-xs-6">
                <button class="form-control btn-cancel" (click)="modify = false;">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>