<div class="container">
    <div class="row">MY NOTEBOOK</div>
    <div class="row">
      <a id="btn_addword" routerLink="/addword">Add word</a>
    </div>
    
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <table class="table">
          <thead>
            <tr>
              <th>Word</th>
              <th>Type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let word of lstWord">
              <td>{{word.content}}</td>
              <td>{{word.typeName}}</td>
              <td>
                <span (click)="selectWord(word)"><i class="fa fa-arrow-right"></i></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8">
        <app-word-detail [word]="selectedWord" (updateList)="onUpdateList()"></app-word-detail>
      </div>
    </div>
  </div>