/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.sn-error{
    background-color: rgb(153, 50, 50);
 }

 .sn-success{
    background-color: rgb(29, 102, 29);
  }

.full-width {
   width: 100%;
}

.mini-flag{
   width: 20px;
   height: 20px;
   margin-right : 10px;
   margin-bottom : 5px;
}